{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8" style="float:right">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
    <a href="{{ .Params.image }}" target="_blank"><img src="{{ .Params.image }}" alt="" class="img-responsive col-lg-4"></a>
    {{ if .Params.image2 }}<img style="margin-top:1em;" src="{{ .Params.image2 }}" alt="" class="img-responsive col-lg-4">{{ end }}
    {{ if .Params.image3 }}<img style="margin-top:1em;" src="{{ .Params.image3 }}" alt="" class="img-responsive col-lg-4">{{ end }}
  </div>
</div>
{{ end }}
